HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Logs / temp files
*.log
*.out
*.err
*.pid
*.swp
*.tmp

# Build outputs
build/
out/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
